.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 55px 80px 55px;
    max-width: 800px;
    flex: 1
}

.project-unsectioned-task-container {
    margin: 20px 0px
}

.project-single-task {
    display: flex;
    justify-content: space-between;
}

