.user-layout-container {
  display: flex;
}

.user-layout-outlet {
  display: flex;
  /* flex-direction: column; */
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  min-height: 100vh;
}