.today-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 55px 80px 55px;
    max-width: 70%;
    flex: 1
}

.today-title {
    /* padding: 0px 2px; */
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 600;
}

.today-tasks-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    /* width: 800px; */
}