.upcoming-page-container {
    display: flex;
    flex-direction: column;
    /* padding: 50px 55px 80px 55px; */
    overflow-y: scroll;
    min-height: 100%;
}

.upcoming-top-container {
    padding: 50px 0px 0px 0px;
    margin: 0px 40px;
}

.upcoming-title {
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 600;
}

.upcoming-middle-container {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.upcoming-bottom-container {
    display: flex;
    padding: 8px 32px;
    overflow-x: auto;
    flex: 1
}

.upcoming-date-task-container {
    margin-right: 8px;
    min-width: 280px;
    width: 280px;
    padding: 0px 8px;
    max-height: 65vh;
    overflow-y: auto;
}

.upcoming-day-header {
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upcoming-dates {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

.upcoming-task {
    display: flex;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 0px 0px 10px;
}

.upcoming-task-button {
    height: 20px;
    width: 20px;
    border-radius:  50%;
    margin: 2px 10px 0px 0px;
    border: 1px solid darkgrey;
    background-color: transparent;
    cursor: pointer;
}

.upcoming-task-title {
    font-size: var(--task-title-font-size);
}

.upcoming-task-description {
    font-size: var(--task-description-font-size);
    color: var(--task-description-color)
}

.upcoming-task-time {
    font-size: var(--task-due-time-font-size);
    color: var(--task-due-time-color);
}

.upcoming-task-project {
    font-size: var(--task-project-label-font-size);
    color: var(--task-project-label-color)
}