.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.login-page-subcontainer {
    display: flex;
    flex-direction: column;
    width: 940px;
    gap: 30px
}

.login-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* width: 400px; */
    /* padding-top: 30px; */
    flex: 1;
}

.login-form-content > h1 {
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}
