.landing-container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 5px;
    /* flex: 1; */
    overflow: hidden;
    position: relative;
}

.landing-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    height: 100%;
    flex: 1;
}

.landing-left-side{
    /* flex: 1; */
    padding: 20px 80px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -120px;
    z-index: 1;
} 

.landing-left-side > h1{
    flex: 1;
    padding: 20px 60px;
    text-align: center;
    font-size: 50px;
    box-sizing: border-box;
} 

.landing-left-side > h3{
    font-weight: normal;
    padding: 10px 60px;
    color: gray;
} 

.landing-right-side {
    /* flex: 2; */
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    z-index: 0;
}

.landing-right-side > img{
    max-width: 120%;
    height: auto;
}

.landing-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--light-sub-color);
    height: 40px;
    width: 100px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin: 20px 0px;
}
