.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    margin: 0 auto;   
    max-width: 1440px;
    box-sizing: border-box;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    gap: 10px
}

.nav-logo {
    /* margin: 15px 20px; */
    /* color: #7B66A7; */
    height: 35px;
}

.nav-name-logo {
    margin-top: 2px;
    height: 30px;

}

.session-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login {
    text-decoration: none;
    color: rgb(45, 45, 45);

    font-weight: bold;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--light-sub-color);
    height: 35px;
    width: 90px;
    border-radius: 8px;
    color: white;
    font-weight: bold
}

@media (max-width: 835px) {
    .nav-container {
        padding: 20px 30px
    }
}