.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    gap: 10px
}

.nav-logo {
    /* margin: 15px 20px; */
    /* color: #7B66A7; */
    height: 35px;
}

.nav-name-logo {
    margin-top: 2px;
    height: 30px;

}

.session-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.session-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--main-color);
    height: 35px;
    width: 90px;
    border-radius: 20px;
    color: white;
    font-weight: bold
}