.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 2px solid lightgrey;
}

.nav-logo {
    /* margin: 15px 20px; */
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    color: #7B66A7;
}

.session-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.session-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #7B66A7;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: white;
    font-weight: bold
}